body 
{
	/* Set the font family */
	font-family: "Lato", sans-serif;
	/* Assign the Background color */
	background-color: White;
}

/*	Make the top of the page align to the center. Mostly for testing. Look is not final */
h1 
{
	text-align: left;
	font-size: 32px;
	color: white;
}
/* Divider for the top part of the Page. */
#div1
{
	background-color: DarkGreen;
	margin-left: 160px;
	padding-top: 20px;
	padding-left: 20px;
	height: 100px;
}

.sideBar
{
	/* Set Background color for Sidebar */
	background-color: DarkGreen;
	/* Set height and Width */
	height: 100%;
	width: 160px;
	/* Keep it in the user's screen by fixing the position */
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	/* Disable horizontal scrolling. */
	overflow-x: hidden;
	padding-top: 20px;
}

/* Menu Links */
.sideBar a
{
	padding: 6px 8px 6px 16px;
	font-size: 25px;
	text-decoration: none;
	color: White;
	display: block;
}

/* Mousing over Menu Links Text Properties */
.sideBar a:hover
{
	opacity: 0.7;
}

.main 
{
	margin-left: 160px;
	padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, 
change the style of the sidebar */
@media screen and (max-height: 450px) 
{
  .sideBar 
	{
		padding-top: 15px;
	}
  
  .sideBar a 
	{
	  font-size: 18px;
	}
}

.container
{
	padding: 100px;   
    background-color: SeaGreen;
}
.container label
{
	color: white;
}
.container a
{
	color: white;
}

button 
{ 
    background-color: #4CAF50; 
    width: 100%;
    color: white; 
    padding: 15px; 
    margin: 10px 0px; 
    border: none; 
    cursor: pointer; 
} 

form 
{ 
    border: 3px solid #f1f1f1; 
} 

input[type=text], input[type=password] 
{ 
    width: 100%; 
    margin: 8px 0;
    padding: 12px 20px; 
    display: inline-block; 
    border: 2px solid green; 
    box-sizing: border-box; 
}

button:hover 
{ 
    opacity: 0.7; 
} 

.cancelbtn 
{ 
    width: auto; 
    padding: 10px 18px;
    margin: 10px 5px;
} 

table, th, td 
{
	color: white;
	border: 5px solid White;
	padding: 15px;
	text-align: left;
	border-collapse: collapse;
}